<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Excommunicado club</title>
  </head>
  <body>
    <%- include('navBar', links); %>
    <div class="content-container">
      <div class="content">
        <%- include('title'); %> <% if (locals.user && locals.messages) { %>
        <h1 class="content-title">Excommunicado messages:</h1>
        <ul class="messageList">
          <% for (const message of messages) { %> <% if (user.membership ===
          'member' || user.membership === 'admin') { %>
          <li class="message">
            <p class="msg-user">
              <%= `${message.firstname} ${message.lastname}`%>
            </p>
            <p class="msg-time"><%= message.datetime %></p>
            <p class="msg-text">
              <%= message.text %> <% if (user.membership === 'admin') { %>
            </p>

            <a
              href="/message/delete/<%= message.messageid %>"
              class="deleteMessage"
              >Delete</a
            >
            <%} %>
          </li>
          <% } else { %>
          <li class="message">
            <p class="msg-text-non-member"><%= message.text %></p>
          </li>
          <% } %> <% } %>
        </ul>
        <% } %>
      </div>
    </div>
  </body>
  <%- include('footer'); %>
</html>
